.semester {

    font-family: 'Segoe UI', Tahoma, sans-serif;
    font-weight: 600;
    border: 1px solid black;
    padding: 10px;
    width: fit-content;
}
img {
    width: 200px;
}
table, td {
    border: 1px solid black;
    width: 650px;
}

td:has(button) {
    width: max-content;
    border: none;
}

thead {
    font-weight: 600;
}

input {
    border: none;
    width: 98%;
    height: 98%;
    text-decoration-line: none;
}
input:focus {
    outline: none;
    background: rgb(241, 241, 241);
}

#cgpa {
    color: rgb(42, 167, 79);
    font-family:'Courier New', Courier, monospace;

}